{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="banner">
        <div class="banner-text">
          <h1>ToDo</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form method="post" class="p-3 shadow">
        {% csrf_token %}

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="task"
            placeholder="Task name"
          />
        </div>
        <br />
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="priority"
            placeholder="Enter your priority"
          />
        </div><br>
        <div class="form-group">
          <input
            type="date"
            class="form-control"
            name="date"
            placeholder="Enter your date"
          />
        </div>
        <br />
        <input type="submit" class="btn btn-success" />
      </form>
    </div>
    <div class="col-md-6">
      <h2>Task to be Completed</h2>
      {% for i in task1 %}
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p><b>{{i.priority}}</b></p>
          <p><b>{{i.date}}</b></p>
          <a href="{% url 'delete' i.id %}" class="btn btn-danger">Done</a>
          <a href="{% url 'update' i.id %}" class="btn btn-success">Update</a>
        </div>
      </div>
      <br />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
